{$HOST} {
	header {
		X-Content-Type-Options "nosniff"
		Referrer-Policy "no-referrer"
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		Content-Security-Policy "default-src 'self'; frame-ancestors 'none'"
	}

	header /embed/* {
		Content-Security-Policy "default-src 'none'; style-src 'unsafe-inline'"
	}

	reverse_proxy app:8080
}
